<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xd-12">
      <img class="imgSalade" src="../../../assets/images/Buche-praliné-5.jpg" alt="img2">
      <h4>Bûche roulée au praliné</h4>
      <p class="text-justify">un dip d’aubergines à la tomate et aux épices. C’est un délice !    </div>
    <div class="col-lg-4 col-md-4 col-xd-12">
      <img class="imgSalade" src="../../../assets/images/Gâteau-roulé-Moka-32-1-865x1536.jpg" alt="img1">
      <h4>Gâteau roulé Moka</h4>
      <p class="text-justify">C’est un dip sucré/salé à base de citrouille. Elle est caramélisée à la cannelle. C’est délicieux !</p>
    </div>
    <div class="col-lg-4 col-md-4 col-xd-12">
      <img class="imgSalade" src="../../../assets/images/Brioche-des-rois-19-1019x1536.jpg" alt="img3">
      <h4>Galette des rois à la framboise et à la frangipane</h4>
      <p class="text-justify">Une délicieuse association entre la betterave et l’oignon !</p>
    </div>
    </div>
</div>


